.main {
	&__container {
		display: flex;
		padding: 15px;
		justify-content: space-between;
		gap: 15px;
	}

	.table {
		max-width: 200px;

		&__top {
			align-items: center;
			display: flex;
			gap: 10px;
		}

		&__title {
			font-size: 44px;
			color: white;
		}

		&__button {
			font-weight: 900;
			font-size: 18px;
			color: white;
			background-color: #030235;
			border: 1px solid #000000;
			padding: 5px 5px;
		}

		&__row {
			gap: 5px;
			display: flex;
			flex-direction: column;
		}
		&__elements {
			cursor: pointer;
			padding: 5px;
			color: white;
			&.picked {
				background-color: #030235;
			}
		}
	}
	.info {
		text-align: center;
		flex: 1 1 auto;
		border: 1px solid #000;
	}
	.info__text {
		margin: 0 auto;
		resize: none;
	}
}
